<div id="redemptionpopupDialog">
  <h1 mat-dialog-title>Points Redeemed</h1>
  <!-- Body -->
  <mat-dialog-content>
    <div id="main_body">
      <!-- Intro -->
      <div id="body_section_intro" class="body_section">
        <div class="body_content">
          <div>
            <h2>Points successfully redeemded.</h2>
            <br>
            <h2>Check email for electronic gift card.</h2>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Ok</button>
  </mat-dialog-actions>
  <!-- 
    <p>
      Points successfully redeemded. Check email for electronic gift card.'
    </p> -->

</div>