/* Main structure */
#main_wrap { font-size: 1.6rem; color: rgba(255,255,255,1); }
#main_cont { width: 100%; max-width: 1170px; margin: 0 auto; }
#main_head { height: 105px; display: flex; position: -webkit-sticky; position: sticky; top: 0; background-color: rgba(32,32,32,1); z-index: 1000; }
#main_logo { width: 230px; }
#main_call { position: relative; }
#main_body { padding-bottom: 80px; }
#main_foot { position: relative; color: rgba(255,255,255,1); text-align: center; padding: 45px 0; }

#main_head:before, #main_call:before, #main_foot:before { display: block; content: ""; height: 100%; width: 100vw; position: absolute; top: 0; left: calc(-1 * (100vw - 100%) / 2); z-index: -1; }
#main_head:before { background-color: rgba(32,32,32,1); border-top: 5px rgba(255,33,106,1) solid; }
#main_call:before, #main_foot:before { background-color: rgba(255,33,106,1); }

.default-row-spacer{
    margin-bottom:10px;
}
.default-spacer{
    margin-right:10px;
}
.large-row-spacer{
    margin-bottom:20px;
}

/* Head sections --------------------------------------------------------------------- */
#main_logo svg { width: 180px; height: 60px; margin-top: 25px; }

#main_menu { flex-grow: 1; display: flex; align-items: center; justify-content: flex-end; }
#main_menu svg { width: 60px; height: 60px; color: rgba(255,255,255,1); cursor: pointer; }
#main_menu svg:hover, #main_menu .menu_open + svg { color: rgba(255,33,106,1); }
#main_menu ul { display: flex; }
#main_menu li { font-size: 2.2rem; letter-spacing: -0.04em; font-weight: 300; }
#main_menu li a { color: rgba(255,255,255,1) !important; }
#main_menu li a:hover { color: rgba(255,33,106,1) !important; }


/* Body sections --------------------------------------------------------------------- */
.body_icon { color: rgba(255,33,106,1); margin-bottom: 10px; }
.body_content { display: flex; height: 100%; margin: 0 -25px; }
.body_column { margin: 0 25px; flex: 1 1 50%; text-align: justify; }

/* Section - Sign up */
#body_section_calltoaction { height: 100%; position: relative; }
#body_section_calltoaction .body_background { position: absolute; top: 0; height: 100%; width: auto; z-index: -1; right: -180px; }
#body_section_calltoaction .body_column { display: flex; align-items: center; flex: auto; color: rgba(255,255,255,1); }
#body_section_calltoaction .body_column:nth-child(1) p { font-size: 1.8rem; line-height: 1.2em; }
#body_section_calltoaction .body_column:nth-child(1) h1 { color: rgba(255,255,255,1) !important; margin-top: 0; }
#body_section_calltoaction .body_column:nth-child(2) { min-width: 40%; justify-content: flex-end; }
#body_section_calltoaction .body_column:nth-child(2) p { font-size: 1.4rem; text-align: center; margin-top: 15px; }
#body_section_calltoaction #form_signin { display: none; }
#body_section_calltoaction form { display: flex; flex-direction: column; margin: -5px 0; }
#body_section_calltoaction form input, #body_section_calltoaction form button { margin: 5px 0; }
#body_section_calltoaction form input { border: none; }
#body_section_calltoaction form button { background: rgba(53,53,53,1); }

/* Section - How it works */
#video_container { width: 100%; height: 0; padding-top: 56.25%; position: relative; }
#video_container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Section - We solve the big problems */
#body_section_bigproblems .body_content:nth-child(2) .body_column:nth-child(2) { background-color: rgba(255,33,106,1); display: flex; align-items: center; }

#body_section_bigproblems ul { display: block; width: 100%; padding: 0 20px; }
#body_section_bigproblems li { font-size: 2.2rem; letter-spacing: -0.06em; font-weight: 700; line-height: 4rem; color: rgba(255,255,255,1); white-space: nowrap; }
#body_section_bigproblems li:not(:last-child) { border-bottom: 1px rgba(255,255,255,0.35) solid; }

#body_section_bigproblems .body_content:nth-child(3) { margin-top: 60px; }
#body_section_bigproblems .body_content:nth-child(3) .body_column { text-align: center; }


/* Section - Pressing issues */
#body_section_pressingissues .body_column { display: flex; flex-wrap: wrap; justify-content: flex-end; }
#body_section_pressingissues .control_button { background-color: rgba(255,33,106,1); }


/* Section - Contact form */
#body_section_contact form { display: flex; flex-wrap: wrap; margin: 0 -5px; }
#body_section_contact form input, #body_section_contact form button { margin: 10px 5px 0; }
#body_section_contact form textarea { flex: 1 1 100%; margin: 10px 5px 0; }
#body_section_contact form button { margin-left: auto; background: rgba(53,53,53,1); }


/* Controls -------------------------------------------------------------------------- */
.control_base { font-family: "Roboto", sans-serif; font-weight: 400; font-size: 1.6rem; display: block; border-radius: 5px; border: 1px rgba(53,53,53,1) solid; color: rgba(255,33,106,1); background-color: rgba(255,255,255,1); }
.control_button { height: 40px; font-weight: 700; background: rgba(53,53,53,1); color: rgba(255,255,255,1); text-align: center; line-height: 40px; cursor: pointer; border: none; }
.control_input { padding: 0 10px; height: 40px; }
.control_textarea {  padding: 10px; height: 90px;  }

.control_switch_forms { font-weight: 700; cursor: pointer; color: rgba(255,255,255,1) !important; }


/* Misc styles ----------------------------------------------------------------------- */
svg { fill: currentColor; }
ul { list-style: none; margin: 0; }

.form_alert { margin: 5px 0; padding: 10px; font-size: 1.2rem; color: rgba(255,255,255,1); border-radius: 5px; }
.form_alert_success { background-color: rgba(60,110,60,1); }
.form_alert_error { background-color: rgba(150,0,50,1); }

/* Text styles */
h1 { font-family: "Roboto Condensed", sans-serif; font-size: 3.6rem; line-height: 1.2em; color: rgba(255,33,106,1); font-weight: 700; margin: 100px 0 30px; }

p { min-width: 100%; letter-spacing: -0.03em; line-height: 1.3em; margin: 0 0 1em; }
p:last-child { margin-bottom: 0; }
p.title { font-weight: 700; margin-bottom: 0.32em; }

a { text-decoration: none; color: rgba(255,33,106,1); }


/* Responsive layout ----------------------------------------------------------------- */

@media all and (max-width: 479px) {
	/* Section - Sign up */
	#body_section_calltoaction .body_background { right: -600px; }

	/* Section - Pressing issues */
	#body_section_pressingissues .control_button { width: 100%; }
	
	/* Section - Contact form */
	#body_section_contact form input, #body_section_contact form button { width: 100%; }
}

@media all and (min-width: 480px) and (max-width: 639px) {
	/* Section - Sign up */
	#body_section_calltoaction .body_background { right: -480px; }	
}

@media all and (max-width: 639px) {
	#main_cont { padding: 0 30px; }
	
	#body_section_calltoaction .body_content { flex-direction: column; padding: 40px 0; }
	#body_section_calltoaction .body_column:nth-child(2) { margin-top: 40px; }
	#body_section_calltoaction .body_column:nth-child(1) p { padding: 20px; background-color: rgba(255,33,106,1); }
	#body_section_calltoaction form { width: 100%; }
}

@media all and (min-width: 640px) {
	#main_cont { padding: 0 50px; }
	#main_call { height: 440px; }
	
	/* Section - Sign up */
	#body_section_calltoaction .body_background { right: -300px; }
	
	#body_section_calltoaction .body_content { padding: 40px 0; }
	#body_section_calltoaction .body_column:nth-child(1) p { padding: 0; background-color: transparent; }
	#body_section_calltoaction .body_column:nth-child(1) > div { padding: 20px; background-color: rgba(255,33,106,1); }
	#body_section_calltoaction form { width: 260px; }
}

@media all and (min-width: 480px) and (max-width: 719px) {
	/* Section - Pressing issues */
	#body_section_pressingissues .control_button { width: 50%; }

	/* Section - Contact form */
	#body_section_contact form input, #body_section_contact form button { width: calc((100% - 20px) / 2); }
}

@media all and (max-width: 719px) {
	/* Section - We solve the big problems */
	#body_section_bigproblems .body_content:nth-child(2), #body_section_bigproblems .body_content:nth-child(3) { flex-direction: column; }
	
	#body_section_bigproblems .body_content:nth-child(2) .body_column:nth-child(1) { order: 2; }
	#body_section_bigproblems .body_content:nth-child(2) .body_column:nth-child(2) { order: 1; padding: 30px 0; margin-bottom: 40px; }
	
	#body_section_bigproblems .body_content:nth-child(3) .body_column:not(:last-child) { margin-bottom: 40px; }
	#body_section_bigproblems .body_content:nth-child(3) .body_icon { width: 120px; height: 120px; }
	
	/* Section - Pressing issues */
	#body_section_pressingissues .body_content { flex-direction: column; }
	#body_section_pressingissues .body_column:nth-child(1) { margin-bottom: 1em; }
	
	/* Section - Contact form */
	#body_section_about_and_contact .body_content { flex-direction: column; }
}

@media all and (min-width: 720px) {
	/* Section - Sign up */
	#body_section_calltoaction .body_background { right: -220px; }
	#body_section_calltoaction .body_content { padding: 40px 0; }
	
	#body_section_calltoaction form { width: 300px; }

	/* Section - We solve the big problems */
	#body_section_bigproblems .body_content:nth-child(2) .body_column { flex: auto; }
	
	#body_section_bigproblems .body_content:nth-child(3) .body_column { flex: 0 0 33.33%; }
	#body_section_bigproblems .body_content:nth-child(3) .body_column:not(:last-child) { border-right: 1px rgba(255,33,106,0.35) solid; }
	
	#body_section_bigproblems .body_content:nth-child(3) .body_column { margin: 0; }
	#body_section_bigproblems .body_content:nth-child(3) .body_icon { width: 80px; height: 80px; }
}

@media all and (min-width: 720px) and (max-width: 799px) {
	/* Section - Pressing issues */
	#body_section_pressingissues .control_button { width: 100%; }
	
	/* Section - Contact form */
	#body_section_contact form input, #body_section_contact form button { width: 100%; }
}

@media all and (max-width: 799px) {
	/* Main menu */
	#main_menu svg { display: block; }
	#main_menu ul { display: none; }
	#main_menu ul.menu_open { display: flex; position: absolute; top: 100%; width: 100%; padding: 0 0 30px; background-color: rgba(32,32,32,1); flex-direction: column; }
	#main_menu ul.menu_open:before { display: block; content: ""; background-color: rgba(32,32,32,1); height: 100%; width: 100vw; position: absolute; top: 0; left: calc(-1 * (100vw - 100%) / 2); box-shadow: 0 30px 30px rgba(255,33,106,0.9); z-index: -1; }
	#main_menu ul.menu_open li { text-align: right; line-height: 4.8rem; }
	#main_menu ul.menu_open li:not(:last-child) { border-bottom: 1px rgba(255,33,106,0.35) solid; }
	

	/* Section - We solve the big problems */
	#body_section_bigproblems .body_content:nth-child(3) .body_column { padding: 0 40px; }
}

@media all and (min-width: 800px) {
	/* Main menu */
	#main_menu svg { display: none; }
	#main_menu ul { padding: 0; margin: 0 -15px; }
	#main_menu li { margin: 0 15px; }

	/* Section - Sign up */
	#body_section_calltoaction .body_background { right: -220px; }
	#body_section_calltoaction .body_column:nth-child(1) p { font-size: 2rem; }
	#body_section_calltoaction .body_column:nth-child(1) > div { padding: 0; background-color: transparent; }
	#body_section_calltoaction .body_column:nth-child(2) { min-width: 50%; }

	/* Section - We solve the big problems */
	#body_section_bigproblems .body_content:nth-child(3) .body_column { padding: 0 70px; }

	/* Section - Pressing issues */
	#body_section_pressingissues .control_button { width: 50%; }
	
	/* Section - Contact form */
	#body_section_contact form input, #body_section_contact form button { width: calc((100% - 20px) / 2); }
	
	h1 { font-size: 4rem; }
}

@media all and (max-width: 1023px) {
	/* Section - How it works */
	#body_section_howitworks .body_content { flex-direction: column; }
	#body_section_howitworks .body_column:nth-child(2) { margin-top: 40px; }
}

@media all and (min-width: 1024px) {
	/* Section - Sign up */
	#body_section_calltoaction .body_background { right: -140px; }
	#body_section_calltoaction .body_column:nth-child(1) p { font-size: 2.4rem; }
	#body_section_calltoaction form { width: 320px; }

	/* Section - How it works */
	#body_section_howitworks .body_column { flex: auto; }
	#body_section_howitworks .body_column:nth-child(1) { flex: 0 0 60%; }
	
	h1 { font-size: 4.6rem; }
}