.container {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  vertical-align: top;
}

.logo {
  grid-column: 5/7;
  grid-row: 1/2;
  justify-items: center;
  height: auto;
  width: 100%;
  justify-items: center;
}

.email {
  grid-column: 1/11;
  grid-row: 3/4;
  justify-items: center;
  height: auto;
  width: 100%;
}

.password {
  grid-row: 4/5;
  grid-column: 1/11;
  height: auto;
  width: 100%;
  text-align: center;
}

.passwordConfirmation {
  margin-top: 5px;
  grid-row: 5/6;
  grid-column: 1/11;
  height: auto;
  width: 100%;
}

.submitButton {
  grid-row: 6/7;
  grid-column: 4/8;
  justify-items: center;
}

.formLayout {
  grid-row: 1/11;
  grid-column: 1/11;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}
